# Event-service
SERVER_PORT=8081

# Base de datos del event-service
EVENT_DB_NAME=vivaeventos
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_URL=jdbc:postgresql://event-db:5432/vivaeventos

# Keycloak del auth-service
KEYCLOAK_ISSUER_URI=http://viva_keycloak:8080/realms/viva-eventos
